
.leaflet-container {
  height: 600px;
  width: 100%;
}

.my-location {
  background-color: red; /* Change the background color */
  border-radius: 100%; 
  width: 15px;
  height: 15px;
  border: 2px solid black; /* Optional border */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.parent {
  /* margin: 1rem; */
  /* padding: 2rem 2rem; */
  text-align: center;
}
.child {
  display: inline-block;
  padding: 1rem ;
  vertical-align: middle;
}
